@media screen and (max-width: 820px){
    .hero img {
        width: 820px;
        height: 1403vh;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #selfie {
        max-height: 3000px;
        max-width: 130px;
    }
    

    .social-list a {
        display: flex;
        justify-content: space-around;
        margin: 100px 100px;
        max-width: 10px;
        max-height: 200px;
    }

    .button1 {
        background-color: #DAEAF1;
        border: none;
        color: black;
        padding: 15px 1000px;
        text-align: center;
        text-decoration: none;
        display: flex;
        /* font-size: 10px; */
        /* margin: 10px; */
        margin-right: 100px;
        /* cursor: pointer; */
        align-items: center;
        justify-content: center;
        display: absolute;
        left: 12%;
    }
}




* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

/* had to do a little google search and dev looking to get the scroll bar i wanted */
::-webkit-scrollbar {
    width: 10px;
}

/* background color */
::-webkit-scrollbar-track {
    background: rgb(110, 110, 110);
}

/* color of the scroll bar */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
} 
/* don't know why its red to be honest still looking into it */
/* ::webkit-scrollbar-thumb:hover {
    background: grey;
} */

/* background */
.hero {
    width: 100%;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

/* lighthouse image */
.hero img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* a little intro about myself */
.container {
    color: #2336a3;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 100;

}

h1 {
    font-size: 75px;
}


h2 {
    font-size: 90px;
    margin: 10px 0 30px;
    line-height: 80px;
}

/* 'About Me' button i was kinda was running into some road blocks trying to figure it out myself but i feel like another container is nesting on to this so i didn't want to mess with it after getting it graded i know theres alot but it works !*/
.button {
display: inline-flex;
align-items: center;
justify-content: center;
position: absolute;
top: 65%;
left: 8%;
color: #737a9e;
padding: 0.7rem 2rem;
font-weight: 700;
font-size: 18px;
text-align: center;
text-decoration: none;
backface-visibility: hidden;
border: 0.3rem solid transparent;
border-radius: 3rem;
border-color: #737a9e;
}

/* about me button effect have like a blurry when hovering over it did some google search  */
.button:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
    
}

/* taking out those underlines  */
.learn-more {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}
/* honestly this shouldn't be here but i left it, i shoulda comment it out but i just leave it for now xD */
#middle {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 800px;
    width: 99em;

}

/* middle section 'About Me' */

.about {
    width: 100%;
    padding: 100px 0;
    background-color: #DAEAF1;
}

/* image of myself  */
.about img {
    height: auto;
    width: 430px;
}

/* About Me header text */
.about-text {
    width: 550px;
}

/* nav bar */
#navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
/* nav bar text */
#navbar a {
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 0 10px;
    color: black;
    text-transform: capitalize;
}

/* when hovering over the nav bar text */
#navbar a:hover {
    color: rgb(1, 116, 211);
}

/* second section  */
.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* About Me Header/Title */
.about-text h3 {
    color: rgb(0, 0, 0);
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

/* my bio text  */
.about-text p {
    color: rgb(0, 0, 0);
    font-size: 28px;
    margin-bottom: 45px;
    letter-spacing: 1px;
    line-height: 28px;
}

/* third section connect/links */
.connect {
    width: 100%;
    padding: 100px 0;
    background-color: #DAEAF1;
}

/* icon images  */
.icons img {
    width: 60px;
    height: 63px;
    margin: 0 40px 0 0;
}
/* .about img {
    height: auto;
    width: 430px;
} */

/* .connect-text {
    width: 600px;
} */

/* div class feel like it wasn't i didn't need it*/
.secondary {
    width: 1130px;
    max-width: 95%;
    /* margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around; */
}

/* 'want to connect ?' text */
.connect h4 {
    color: rgb(0, 0, 0);
    font-size: 65px;
    text-align: center;
    align-items: center;
}

/* was going to add a little title for each link but rather have icon to explain for itself */
/* .connect-text p {
    color: rgb(0, 0, 0);
    font-size: 28px;
    margin-bottom: 45px;
    letter-spacing: 1px;
    line-height: 28px;
} */

/* social icon */
.social-list {
    display: flex;
    justify-content: space-between;
    margin: 100px 10px;
}

/* fourth section */
.forms {
    width: 100%;
    padding: 10px 0;
    background-color: #DAEAF1;
}
/* font size first & last name */
.forms {
    font-size: 20px;
}

.button2 {
    background-color: #DAEAF1;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1 {
    background-color: #DAEAF1;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: absolute;
    font-size: 60px;
    margin: 50px;
    margin-left: 580px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

p {
    font-size: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

